*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Monterrat,sans-serif;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgb(230, 243, 243);
 
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1;
    backdrop-filter: blur(1px);
}
.header a{
    text-decoration: none;
    color: #11111100;
    font-size: 1rem;
}
.Riyadhintro{
    padding: 20px;
    margin-bottom: -90px;
}
.Riyadhintro h1{
    
    font-family: "Titillium Web", sans-serif;
    font-size: clamp(50px, 5vw,100px);
    font-weight: 700;
    line-height: 2vw;
    color: #6c84d3;
    text-transform: uppercase;

}
.Riyadhintro h2{
   
    font-size: clamp(30px, 2.5vw,60px);
    color: #7f56e0;
    padding-left: 1rem;
    text-transform: uppercase;
}
.Riyadhintro p{
    margin-bottom: -900px;
    font-family: Georgia, 'Times New Roman', Times, bold,serif;
    font-size: 20px;
    font-weight: 300;
}

.section{
   
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Riyadhintro-section{
    background-color: #fcd1df;
}

.Riyadhintro{
    padding: clamp( 1rem , 8vw , 5rem);
    max-width: 50%;
}
.section h1 {
    font-family: "Titillium Web", sans-serif;
    font-size: clamp(55px, 8vw,200px);
    font-weight: 700;
    line-height: 3vw;
    color: #6c84d3;
    text-transform: uppercase;
}
.section h2{
    font-size: clamp(18px, 2.5vw,60px);
    color: #333994;
    padding-left: 3rem;
    text-transform: uppercase;
}
.section p{
    color: #000000;
    padding-right: 1rem;
    font-family:  "Titillium Web", sans-serif;

}
.Riyadhintro-section img{
    width: clamp(250px, 30vw , 500px);  
}

@media(max-width:1023){
    .Riyadhintro{
        max-width: 100%;
        width: clamp(300px,50vw,600px);
        padding: 0;
    }
 
}
@media(max-width:767px){
    
    .header a{
        font-size: 1rem;
    }
    
}
/*table style*/

.table-box
{
    margin: 50px auto;
   
}

.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: rgb(66, 66, 66);
    font-size: 15px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
    background: #df367c;
    box-shadow: none;
    color: #fff;
    font-weight: 400;
    
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #df367cac;
    vertical-align: middle;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
}
a{
    text-decoration: none;
    color: #555;
    
}
a:hover{
    color: rgb(47, 155, 255);   
}
@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}
/*end table*/
/*ZONE*/
.zoneh2{
    z-index: 1;
}
.Z1{
    font-family: "Titillium Web", sans-serif;
    font-size: clamp(60px, 8vw,200px);
    font-weight: 700;
    line-height: 3vw;
    color: #6c84d3;
    text-transform: uppercase;
}
.zones{
    display: grid;
    grid-gap:1rem;
    padding: 1rem;
    max-width: 1024;
    margin: 0 auto;
}   
@media(min-width: 600px){
    .zones{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 800px){
    .zones{
        grid-template-columns: repeat(4, 1fr);
    }
}
.zone-area{
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: #000000;
    background-color: #cde1ff;
}
.zone-area::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: 0.9s;
    pointer-events: none;
}
@media(min-width:660px){
    .zone-area{
        height: 350px;
    }
}
.zone-area::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
     transform: translateY(-50%);
     transition: 0.8s;
}

.description{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: 0.6s;
    z-index: 1;

}
.heading{
    font-size: 2rem;
    font-style: italic;
    line-height: 1.35;
    color: rgb(255, 255, 255);
}
.contant{
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}


@media(hover: hover) and (min-width: 600px){
    .zone-area:after
    {
      transform: translateY(0);
    }
    .description{
        transform: translateY(calc(100% - 4.5rem));
    }
    .zone-area:hover{
        align-items: center;
    }
    .zone-area:hover:before{
        transform: translateY(-4%);
    }
    .zone-area:hover:after{
        transform: translateY(-50%);
    }
    .zone-area:hover .description{
        transform: translateY(0);
    }

}
.vids{
    width: 720px; 
    height:450px;
}


/*DRAGGABLE ELEMENTS*/

.drag{
    /*border:1px solid rgb(218, 87, 131);*/
    width: 100%;
    align-content: center;
    text-align: center;
}
.rate{
    font-family: "Titillium Web", sans-serif;
    font-size: clamp(60px, 8vw,200px);
    font-weight: 500;
    line-height: 3vw;
    color: #4662be;
    text-transform: uppercase;
}
.wrapper{
  background: rgb(247, 133, 177);
  padding: 25px;
  max-width: 460px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  margin: auto; 
}
.wrapper .item{
  color: #fff;
  display: flex;
  margin-bottom: 8px;
  padding: 12px 17px;
  background: #4d88b4;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;
}
.f-zone{
    font-family: "Titillium Web", sans-serif;
    font-size: clamp(20px, 2.5vw,200px);
    font-weight: 500;
    line-height: 7vw;
    color: #e63f8d;
    text-transform: uppercase;
}
.wrapper .item:last-child{
  margin-bottom: 0px;

}
.wrapper .item .text{
  font-size: 18px;
  font-weight: 400;
}
.wrapper .item i{
  font-size: 18px;
  cursor: pointer;
 
}
/*list*/
.performances{
    width: 300px;
    padding: 0;
    border-top: 0px;
    margin: 100px auto;
    border:none;
    border-radius: 7px 7px 0px 0px;
}
.performances li{
    list-style: none;
    background: #c1d1e9;
    border-top:1px sold #ccc;
    padding: 10px 20px;
}
.performances li:first-child{
    background: #df367c;
    color: white;
    border-radius: 5px 5px 0px 0px;

}
/*contact us*/
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .content{
    max-width: 800px;
    text-align: center;

}
.contact .content h2{
    font-size: 36px;
}
.contact .content p{
    font-size: 30px;
    font-weight: 500;
    color: #555;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon{
   min-width: 60px;
   height: 60px;
justify-content: center;
align-items: center;
    display: flex;
    border-radius: 50%;
    font-size:22px;
}
.container .contactinfo .box .icon .txt{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:#fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box  .txt h3 a{
    font-weight: 500;
    color: rgb(37, 37, 156);
}
.contactform{
    width: 80%;
    padding: 50px;
    background: rgb(255, 255, 255);

}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #df367c;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
#event{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #df367c;
    outline: none;
    resize: none;

}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:focus ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]{
   width: 100px; 
   background-color: #00bcd4;
   color: beige;   
   border: none;
   cursor: pointer;
   padding: 10px;
   font-size: 18px;
}

@media(max-width :991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactinfo{

        margin-bottom: 40px;

    }
    .container .contactinfo{
        width: 100%;
    }
}

/*footer*/
.footer{
    
    height: auto;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 40px;
    color: #fff;

}

.footer .footer-content{
    border:1px solid rgb(218, 87, 131);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-conten h2{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: #000000;
}
.txt  a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.txt a:hover {
    color: rgb(47, 155, 255);
}
.time{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #df367c;
    outline: none;
    resize: none;
    box-align:lift ;
}
/*end footer*/